:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.mat-form-field {
    width: 100%;
    min-width: 100px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 400px;
}

input[type=file] {
    display: none;
}
.opacity-0 {
    opacity: 0;
}
.opacity-1 {
    opacity: 1;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}