<mat-card [ngClass]="{'display-none': tabName != 0, 'display-block': tabName == 0 }">
    <mat-card-title>
        <mat-icon>image</mat-icon> &nbsp;Upload Image Files
    </mat-card-title>
    <mat-card-content>
        <input #imageFileUpload id="image-file-upload" type="file" name="imageFileUpload" accept="image/*" multiple
            (change)="updateSelectImageFiles($event)" />
        <label for="image-file-upload">
            <p>
                {{imageFileSelectionTitle}}
            </p>
            <button mat-raised-button (click)="imageFileUpload.click()">Upload Image File</button>
        </label>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end ënd">
        <button mat-button (click)="next()">Next</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
<mat-card [ngClass]="{'display-none': tabName != 1, 'display-block': tabName == 1  }">
    <mat-card-title>
        <mat-icon>description</mat-icon> &nbsp;Upload Excel File
    </mat-card-title>
    <mat-card-content>
        <input #excelFileUpload id="excel-file-upload" type="file" name="excelFileUpload" accept=".xls, .xlsx"
            (change)="updateSelectExcelFile($event)" />
        <label for="excel-file-upload">
            <p>
                {{excelFileSelectionTitle}}
            </p>
            <button mat-raised-button (click)="excelFileUpload.click()">Upload Excel File</button>
        </label>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-between">
        <button mat-button (click)="next()">Previous</button>
        <button mat-button (click)="uploadAll()">Upload All</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
<mat-card [ngClass]="{'display-none': tabName != 2, 'display-block': tabName == 2 }">
    <mat-card-title>
        <mat-icon>{{iconSuccessOrFailure}}</mat-icon> &nbsp;{{successOrFailureTitle}}
    </mat-card-title>
    <mat-card-content>

        <p>
            {{successOrFailureContent}}
        </p>

    </mat-card-content>
</mat-card>