<div fxLayoutAlign="space-around center" fxLayout="row">

    <div fxLayout="column" fxFlex="1100px">

        <div flex-layout="row">

            <div fxLayout="column" fxFlex="70">
                <img style="max-width: 100%;" src="../../assets/images/about-us.jpg" style="">

                <h3>About Us</h3>

                <p>Prem Internaitonal s.r.o is the place where East meets West. Founded in 2012, we have carved out a niche market by offering to the world the best of both East and West. With technical expertise, design department and marketing from Europe and by making use of the growing facilities in the East, we are supplying world class textile products not only with a quality to be rated amongst the best, but at very affordable prices.</p>

                <p>Our European team with vast experience in textile production and trade, gives direction to our business keeping in mind the prevailing and future European market trends. Our Designers project consumer demand according to ever changing demand in Europe so that our production team incorporate the same in the final product.</p>

                <p>We intend to move forward with Passion, Self confidence and hard work while concentrating on total customer satisfaction in terms of quality and timely delivery. We believe in our core values – Trust and Customer Satisfaction.</p>

                <p>We believe that there is no short cut to Success. Success is not a destination but a journey which we have to undertake with our partners in Business.</p>


                <mat-tab-group>
                    <mat-tab label="What We Do?">
                        We have a vast range of textile products which varies from Infant and baby products to home textiles. Nearly all sort of Yarns and threads to Woven Fabrics. We are there to cater to your needs. We don’t offer what we have. We do what you want.
                    </mat-tab>
                    <mat-tab label="Why Prem International?">
                        <ul>
                            <li>High Class infrastructure with cutting edge technologies</li>
                            <li>Outstanding quality at affordable prices</li>
                            <li>Trustworthy and easily accessible partners in trade</li>
                            <li>Strategic location resulting in quick and reliable deliveries</li>
                            <li>Environmental-friendly Operations</li>
                            <li>Fair Socio-economic work conditions</li>
                        </ul>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>

</div>