<div fxLayoutAlign="space-around center" fxLayout="row">

    <div fxLayout="column" fxFlex="1100px">

        <div flex-layout="row" fxLayoutGap="20px">

            <div fxLayout="column" fxFlex="60">
                <h3>Send Us Mail</h3>

                <form class="example-form">
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                            <mat-label>Your Name</mat-label>
                            <input matInput required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                            <mat-label>Your Email</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                            <mat-label>Subject</mat-label>
                            <input matInput required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex>
                            <mat-label>Your Message</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <button mat-flat-button color="primary">Send Message</button>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px">
                        <div fxLayout="column">
                            <h5 class="mb5">Ready Product / Storage at Czech Republic</h5>
                            <span class="mat-body">
                                Telephone: +420 565 536 676<br>
                                Email: <a href="">humpolec@servant.cz</a>
                            </span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px">
                        <div fxLayout="column">
                            <h5 class="mb5">Our Production and Supplies</h5>
                            <span class="mat-body">
                                Email: <a href="">aa@premeuropa.com</a>
                            </span>
                        </div>
                    </div>
                </form>

            </div>

            <div fxLayout="column" fxFlex="40">

                <div fxLayout="row">
                    <div fxLayout="column">
                        <h3>Get In Touch</h3>
                        <h5>We'd love to hear from you!</h5>
                        <h6>Contact us for all your marketing queries and requirements at the below addresses.</h6>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxLayout="column">
                        <h3>Contact Information</h3>
                        <h5>Company Address</h5>
                        <p>
                            PREM INTERNATIONAL s.r.o.,<br>
                            Legionarska 561<br>
                            544 01 Dvur Kralove nad Labem,<br>
                            Czech Republic<br>
                        </p>


                        <h5>Ms. Veronika Maruskova</h5>
                        <p>
                            Telephone: +420 777 677 944<br>
                            Email: <a href="">vm@premeuropa.com</a>
                        </p>

                        <h5>Ms. Vera Maruskova</h5>
                        <p>
                            Telephone: +420 777 677 815<br>
                            Email: <a href="">veramaruskova@premeuropa.com</a>
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>