<!-- <mat-form-field class="search-form">
    <input matInput placeholder="Search Picture" type="text"  (input) = "search($any($event.target).value)">
</mat-form-field>
&nbsp;&nbsp;<button button="submit" mat-raised-button color="primary">Search</button> -->
<a mat-button fxLayoutAlign="center">Products&nbsp;&nbsp;/ &nbsp; {{categoryname}}</a>
<div layout-margin *ngFor="let listOfPictures of listOfListOfPictures">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
        <mat-card class="card-picture" *ngFor="let picture of listOfPictures" class="example">
            <img mat-card-image [src]="picture.src | addAuthorization | async" (click)="openCarousel(picture.subcategoryname)">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                <span fxFlex="80%">{{picture.title}}</span>
            </mat-card-title>

        </mat-card>
    </div>
</div>