<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div style="position: -webkit-sticky; position: sticky;top: 0px;z-index: 1000;">
  <mat-toolbar style="background-color:white;">
    <img src="assets/images/logo_prem_international.jpg" height="54px" style="cursor: pointer;" (click)="home()" />
    <span style="margin: 30px;"></span>
    <div fxShow="true" fxHide.lt-md="true" *ngIf="isLoginOrSignUpVisible == false">
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/products" *ngIf="isLoggedIn == true">Products</a>
      <a mat-button routerLink="/quality-assurance">Quality Assurance</a>
      <a mat-button routerLink="/about-us">About Us</a>
      <a mat-button routerLink="/contact">Contact</a>
      <button mat-button [matMenuTriggerFor]="settingMenu" *ngIf="isLoggedIn && isAdmin">Settings</button>
      <mat-menu #settingMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/list-users">
          <mat-icon>how_to_reg</mat-icon>User Approval
        </button>
        <button mat-menu-item routerLink="/file-upload">
          <mat-icon>upload</mat-icon>Upload Files
        </button>
        <button mat-menu-item routerLink="/image-assignment">
          <mat-icon>library_add_check</mat-icon>Image Assignment
        </button>
      </mat-menu>
    </div>
    <div fxFlex fxLayoutAlign="end start">

      <button mat-button *ngIf="showSignUp" (click)="signUp()">
        <mat-icon>app_registration</mat-icon>
        Sign Up
      </button>
      <button mat-button *ngIf="isLoggedIn == true" (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        Sign Out
      </button>
      <button mat-button *ngIf="isLoggedIn == false && showSignUp == false" (click)="signIn()">
        <mat-icon>power_settings_new</mat-icon>
        Sign In
      </button>
    </div>

  </mat-toolbar>

</div>
<router-outlet></router-outlet>